{% extends "base.html" %}

{% block conteudo %}
<div id="all-page">
    <div class="container-sm">
        <table class="table">

            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Nome de Usuário</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Remover</th>
            </tr>
            {% for usuario in usuarios %}
                <tr>
        
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.telefone}}</td>
                    <td> <a href="{{url_for('remover_usuario', id_usuario=usuario.id)}}">REMOVER</a> </td>
                </tr>
            {% endfor %}
        
        </table>
    </div>
</div> 


{% endblock %}